/* Write your CSS code here */
.cryptocurrency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos-and-title-container {
  display: flex;
  align-items: center;
}

.currency-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.currency-name {
  color: wheat;
  font-size: 14px;
  margin-right: 16px;
}

.usd-and-values-container {
  display: flex;
  align-items: center;
}

.currency-value {
  text-align: right;
  color: wheat;
  font-size: 12px;
  font-weight: 500;
  width: 52px;
  margin-left: 8px;
}
